# Core API and Web Interface
Flask>=3.0.0
cryptography>=41.0.0  # For self-signed HTTPS certificates

# LLM API Client
openai>=1.12.0

# Audio Processing (wakeword, TTS, STT, local playback)
numpy>=1.24.0
sounddevice>=0.4.6
soundfile>=0.12.1

# Tokenization
tiktoken>=0.5.0

# HTTP and Web, for functions that use web
requests>=2.31.0
beautifulsoup4>=4.12.0
bcrypt>=4.0.0
PySocks>=1.7.1

#anthropic